%h1
  Hello,
  =@user.name 
  !
  
  
- if @results
  - @results.each do |res|
  
    %h3
      Результат тесту
      = res.test_title
      це
      %b
        =res.mark
      
    %hr
    %br/
    %br/
    
    
    
%h2
  =link_to 'ПРОЙТИ НОВИЙ ТЕСТ', @new_test_link
    
=link_to 'На головну', '/'     
